@import "variables.scss";

h1 {
  color: $red;
}

.courses-detail {
  height: 600px;
  img {
    margin-top: 20px;
    height: 70%;
    object-fit: contain;
  }
  .card-body {
    .card-text {
      height: 50px;
      margin-bottom: 10px;
    }
  }
}

.row {
  max-width: 100%;
}

.detail-course-thumbnail {
  width: 500px;
}
