<div class="mt-4 w-75 mx-auto">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search">Keyword</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search"
        placeholder="Input ..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
